<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        
        <h1>
            Groupie-Tracker
        </h1>
    </nav>
    <main>
        <div class="main-content">

            <h3>Bands we love</h3>
            <div class="band-container">
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
                <div class="band-card">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                    <p>Queen</p>
                </div>
            </div>
        </div>
    </main>
    <script src="script.js"></script>
</body>
</html>